/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2015, 2:45:31 PM
    Author     : mstark
*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    height: calc(100% - 50px);
}

#header {
    height: 50px;
    width: 100%;
    box-shadow: 0px 2px 2px #DDD;
    background-color: #2185FF;
    z-index: 10;
    position: fixed;
    top: 0;
    font-size: 15pt;
    font-family: helvetica;
}

#header #cookbook-logo {
    float: left;
    line-height: 50px;
    margin-left: 10px;
    color: black !important;
}

#header #cookbook-logo a {
    text-decoration: none;
    color: black;
}

#header #cookbook-logo:hover a {
    color: white;
}

#header .nav {
    display: none;
    float: left;
    position: relative;
    margin-left: calc(50% - 300px);
    line-height: 50px;
}

#header #right-container {
    width: 50px;
    float: right;
    margin-top: 10px;
}

#header #right-container span img {
    margin-top: 2.5px;
}

#header #search-query {
    display: none;
    background-color: rgba(255, 255, 255, 0.75) !important;
    padding-left: 10px;
    width: 100%;
    z-index: 20;
    border: none;
    height: 30px;
    float: left;
}

#header #search-submit {
    background-color: rgba(0, 0, 0, 0);
    line-height: 30px;
    height: 32px;
}

#header #settings-button {
    display: none;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: #2185FF;
    z-index: 10;
    position: fixed;
    bottom: 0;
}

#footer .nav {
    width: 100%;
    line-height: 50px;
}
.recipe-item {
    border-bottom: 1px solid #E6E6E6;
    color: black;
    min-height: 160px;
    width: 100%;
}

.recipe-item:last-child {
    border-bottom: none;
}

.recipe-item .recipe-item-img {
    float: left;
    width: 130px;
    margin-top: 15px;
    margin-left: 15px;
}

.recipe-item .recipe-item-img img {
    width: 130px;
    height: 130px;
}

.recipe-item .recipe-item-info {
    width: calc(100% - 160px);
    height: 100%;
    margin-left: 15px;
    margin-top: 15px;
    color: black;
    float: left;
    color: black;
}

.recipe-item:hover {
    background-color: #50B0FF;
    cursor: pointer;
}

#recipe-img-container img {
    width: 304px;
    height: 228px;
    float: left;
}

#tab-view-container {
    float: left;
    width: 100%;
}

#recipe-list {
    margin-top: 50px;
    height: calc(100% - 50px);
    width: 100%;
    overflow-y: auto;
}

#recipe {
    margin-top: 50px;
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
    padding-top: 20px;
}

.twitter-typeahead {
    float:left;
}

.tt-hint {
    background-color: rgba(0, 0, 0, 0.0) !important;
}

@media screen and (min-width: 800px) {
    #header .nav {
        display: block;
    }

    #recipe-list {
        width: 60%;
        margin-left: 20%;
        border-right: 1px solid #E6E6E6;
        border-left: 1px solid #E6E6E6;
    }
    
    #recipe {
        width: 60%;
        margin-left: 20%;
    }
    
    #header #right-container {
        width: 400px;
    }

    #header #search-query {
        display: block;
        width: 300px;
    }

    #header #search-submit {
        background-color: rgba(255, 255, 255, 0.75);
        line-height: 30px;
        float: left;
        width: 30px;
    }

    #header #settings-button {
        display: inline;
        margin-left: 5px;
    }

    #footer {
        height: 50px;
    }
    #footer .nav {
        display: none;
    }

    #tab-view-container {
        float: right;
        width: calc(100% - 320px);

    }
    
    .empty-message {
        width: 300px;
        height: 60px;
        line-height: 60px;
        background-color: rgba(255, 255, 255, 0.75);
    }
    
    .search-suggestion {
        width: 310px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.75);
        border: 1px solid #CFCFCF;
        border-top: none;
    }
    
    .search-suggestion:hover {
        background-color: rgba(200, 200, 200, 0.75);
    }
    
    .search-suggestion a {
        text-decoration: none;
        color: black;
        line-height: 60px;
        float: left;
    }
    .search-suggestion a img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
        margin-top: 10px;
        float: left;
    }
    
    .search-suggestion a span {
        line-height: 60px;
        float: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-left: 10px;
        display: inline-block;
        max-width: 240px;
    }
    
    #settings-menu {
        display: none;
        width: 300px;
    }
    
    #settings-menu ul li {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #DDDDDD;
        margin-left: 10px;
        margin-right: 10px;
        box-shadow: 2px 2px 2px #DDD;
    }
    
    #settings-menu.active {
        display: block;
        position: absolute;
        right: 10px;
        top: 50px;
        z-index: 9;
        -webkit-animation-name: showSettins;
        animation-name: showSettings;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
    }
    
    @-webkit-keyframes showSettings {
        from {
            top: -150px;
        }
        to {
            top:52px;
            z-index: 10;
        }
    }
    
    @keyframes showSettings {
        from {
            top: -150px;
        }
        to {
            top:52px;
            z-index: 10;
        }
    }
    
    #user-info {
        min-width: 40px;
        padding-left: 10px;
        line-height: 30px;
    }
    
    #user-info a {
        text-decoration: none;
        color: black;
    }
    
    #user-info a:hover {
        color: white;
    }
    
    #right-container {
        margin-right: 10px;
    }
}